@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.asimovian-regular {
  font-family: "Asimovian", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, span, label, a, button, li {
  color: #0C0C0C;
}
