@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Noto+Sans+KR:wght@100..900&display=swap");

@theme {
  --color-dark: #0C0C0C;
  --color-light: #FAF9F6;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.asimovian-regular {
  font-family: "Asimovian", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: #0C0C0C;
}

/* FIXME: 잘보면 selection arrow 배경이 select box랑 안 맞음 */
select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat right 7px top;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}
